__pycache__
__init__.py
*.*2022*
*.sav
*.log
*.tmp
allskycam0*.up
allskycam0*.down
**/dwd/aeris*
**/dwd/bwk*
**/dwd/forecast*
**/dwd/geo*
**/dwd/Schilder*
**/dwd/uba*
**/dwd/VHDL*
**/dwd/warn*
**/dwd/wbx*
