# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h dom mon dow command
#0 0 * * * /bin/bash /home/weewx/pwsWeiherhammer/scripts/db/resetEnergy.sh

10      *   * * * /usr/sbin/ntpdate ptbtime1.ptb.de ptbtime2.ptb.de >/dev/null 2>&1
#0       */6 * * * /bin/bash /usr/local/bin/backup_host.sh >/var/log/weewx/backup_host.log 2>&1
#0,20,40 *   * * * /bin/bash /usr/local/bin/backup_db_weewx.sh >/var/log/weewx/backup_db_weewx.log 2>&1
#
#
# PWS Dashboard
*/5 * * * * /usr/bin/php8.1 /var/www/html/pwsWD/PWS_cron_stationcron.php >/dev/null 2>&1
#
# Webcam/AllSky to Website
*/1 * * * * /bin/bash /usr/local/bin/copy_allsky_image_to_pws.sh >/var/log/weewx/copy_allsky_image_to_pws.log 2>&1
*/1 * * * * /bin/bash /usr/local/bin/copy_webcam_image_to_pws.sh >/var/log/weewx/copy_webcam_image_to_pws.log 2>&1
#
# WeeWX loop packets to json files
#*/1 * * * * /bin/bash subscribe_weewx_loop_to_json.sh >/var/log/weewx/subscribe_weewx_loop_to_json.log 2>&1
#
# loopdata.json from LoopData report to Celesial Report
*/1 * * * * /bin/bash cp -a /home/weewx/public_html/loopdata/loopdata.json  /home/weewx/public_html/celestial/loopdata.json >/var/log/weewx/copy_loopdata_to_celestial.log 2>&1
#
#
# DWD Forecast Waldbrandgefahrenindex (Weiherhammer skin)
20 6 * 3,4,5,6,7,8,9,10 * /bin/bash /usr/local/bin/weewx-DWD/wget-dwd-wbx >/var/log/weewx/wget-dwd-wbx.log 2>&1
22 6 * 3,4,5,6,7,8,9,10 * /usr/bin/python3 /usr/local/bin/weewx-DWD/forecast-pwsWeiherhammer --config=/home/weewx/weewx.conf --verbose --wbx-only >/var/log/weewx/forecast-pwsWeiherhammer-wbx.log
#
# DWD Forecast and Warnings (Weiherhammer and weewx-wdc skin)
14,29,44,59 * * * * /bin/bash /usr/local/bin/weewx-DWD/wget-dwd-pwsWeiherhammer >/var/log/weewx/wget-dwd-pwsWeiherhammer.log 2>&1
# Weiherhammer skin
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/dwd-cap-warnings --config=/home/weewx/weewx.conf --resolution=county --verbose >/var/log/weewx/dwd-cap-warnings-county.log 2>&1
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/dwd-cap-warnings --config=/home/weewx/weewx.conf --resolution=city --verbose >/var/log/weewx/dwd-cap-warnings-city.log 2>&1
# weewx-wdc skin
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/dwd-cap-warnings --config=/home/weewx/weewx-dwd-wdc.conf --resolution=county --verbose >/var/log/weewx/dwd-cap-warnings-county.log 2>&1
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/dwd-cap-warnings --config=/home/weewx/weewx-dwd-wdc.conf --resolution=city --verbose >/var/log/weewx/dwd-cap-warnings-city.log 2>&1
#
# original dwd-mosmix (weewx-wdc skin)
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/dwd-mosmix --config=/home/weewx/weewx-dwd-wdc.conf --verbose --json 10688 >/var/log/weewx/dwd-mosmix-wdc-json-10688.log 2>&1
#
# forecast-pwsWeiherhammer (Weiherhammer skin)
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/forecast-pwsWeiherhammer --config=/home/weewx/weewx.conf --verbose --database --belchertown  10688 >/var/log/weewx/forecast-pwsWeiherhammer-belchertown-10688.log 2>&1
#
# BBK warnings
# Weiherhammer skin
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/bbk-warnings --config=/home/weewx/weewx.conf --verbose >/var/log/weewx/bbk-warnings.log 2>&1
#
# dwd-mosmix.py (Weiherhammer skin)
14,29,44,59 * * * * /usr/bin/python3 /usr/local/bin/weewx-DWD/test/dwd-mosmix.py --config=/usr/local/bin/weewx-DWD/test/mosmix.conf --verbose --belchertown --json 10688
#
# DWD MOSMIX S Weiden, kommen stündlich, ca nach 20 Minuten
30 * * * * /usr/bin/python3 /home/weewx/bin/weiwx/scripts/parse_dwd_mosmix.py --in-file=MOSMIX_S --out-file=/home/weewx/public_html/data/json/weiden_mosmix_s.json --timezone --station=WEIDEN
# DWD MOSMIX L Weiden, kommen ca. um 5, 11, 17, 23 Uhr
15,45 * * * * /usr/bin/python3 /home/weewx/bin/weiwx/scripts/parse_dwd_mosmix.py --in-file=MOSMIX_L --out-file=/home/weewx/public_html/data/json/weiden_mosmix_l.json --timezone --station=WEIDEN
