.wx-stn-name h1 { 
    font-size: calc(20px + 0.5vw);
}

/* about page */

.about-row {
    margin-top:10px;
}

.about-outer h2 {
    font-size: calc(22px + 0.5vw);
}
.about-outer h3 {
    font-size: calc(18px + 0.5vw);
}
.about-outer h4 {
    font-size: calc(14px + 0.5vw);
}

.current_temp .outtemp_outer {
    font-size: 70px;
    min-height: 95px;
}

.current_temp .outtemp_outer {
    font-size: 70px;
    min-height: 95px;
}

.obs-header-icon {
    min-width: 30px;
    max-width: 60px;
}

.current-obs-symbol, .dark .current-obs-symbol {
    min-width: 113px;
}

.weather-obs-top, .dark .weather-obs-top {
    position: relative;
    min-height: 210px!important;
    padding-left: 0px;
    padding-right: 0px;
}

.weather-obs-bottom, .dark .weather-obs-bottom {
    padding-left: 0px;
    padding-right: 0px;
}

.current_obs_top_left, .dark .current_obs_top_left {
    padding-left: 0px;
    padding-right: 0px;
}

.stn-high-low, .dark .stn-high-low {
    padding-bottom: 10px;
}

/* Test Symbols */
.avg10m-obs-symbols, .dark .avg10m-obs-symbols {
    text-align:center;
    padding-top: 0px;
}

/* PWS AQI */

.obs-aqi-divider, .obs-aqi-divider, .aqi-wind-divider {
    height: 1px;
    width: 104%;
    background-color: #D7D7D7;
}

.obs-aqi-index, .dark .obs-aqi-index {
    padding-left: 0px;
    padding-right: 0px;
}

.obs-aqi-values, .dark .obs-aqi-values {
    padding-left: 0px;
    padding-right: 0px;
}

.obs-aqi-table-values, .dark .obs-aqi-table-values {
    font-size:15px;
    line-height: 1.3;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.obs-aqi-table td {
    text-align:center;
    width:50%;
}

.dark .obs-aqi-table td {
    text-align:center;
    width:50%;
}

.obs-aqi-table-title, .dark .obs-aqi-table-value {
    padding:0px
}

.dark .obs-aqi-table-title, .dark .obs-aqi-table-value {
    padding:0px
}

.aqi_outer, .dark .aqi_outer {
    padding-top: 0px;
}

.obs-aqi-index, .dark .obs-aqi-index {
    text-align:center;
    font-size:20px;
    padding-top: 0px;
}

.pws_aqi_pm2_5_dot, .pws_aqi_pm10_0_dot, .pws_aqi_o3_dot, .pws_aqi_no2_dot {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

/* Wind */

.windrow {
    border-top: 1px solid #D7D7D7;
    padding-top: 0px;
    margin: -1px 0 0 0;
}

.obs-wind-divider {
    width: 104%;
}

.current_wind {
    padding: 15px 0 0 0px!important;
}

.compass {
    margin-left: auto;
    margin-top: 0;
    float: left;
}

.compassbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    float:left;
}
.wx-stn-info-current-obs {
    display: grid;
    justify-content: center;
    align-items: center;
}

.windspeedtable {
    padding-top: 0px;
    width: 50%;
    float: right;
}

.wind-table-title td {
}

.wind-speed-unit {
    text-align:center;
}
/*
.wind-speed-beaufort{
}
*/
.wind-run {
    text-align: center;
    padding-top: 10px;
}

/* Index Radar */

.dark .tabs-menu > li > a {
    padding: 0px 5px;
}

.dark .nav-tabs>li.active>a, .dark .nav-tabs>li.active>a:focus, .dark .nav-tabs>li.active>a:hover {
    color: #e5554e;
}

.tab-content {
    display:none;
}

.tabs-menu > li > a {
    padding: 0px 5px;
}

#radar {
    display:block;
}

#webcam, #allsky01, #allsky02 {
    display:none;
}

.toprow-height {
    min-height: 422px !important;
}

/* Border between rain/rainrate and humidity rel/abs */

.border-left-rain-hum {
    border-left: 1px solid #D7D7D7 !important;
}

/* Highcharts */
span.highcharts-title {
    width: 100% !important;
    text-align: center !important;
}

/* weewx-DWD */

.dwdforecasttable {
    line-height: 1.0;
}
.dwdforecasttable td {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.2;
}
.dwdforecasttable .icons td {
    padding-top: 5px;
    padding-bottom: 0px;
}
.dwdforecasttable .topdist td {
    padding-top: 5px;
}
.light .dwdforecasttable td.weekend {
    background-color: #ffe;
}
.dark .dwdforecasttable td.weekend {
    background-color: #333;
}

/* Waldbrandgefahrenindex */

.wbx-headline {
    font-size: calc(18px + 0.3vw);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dakr .wbx-headline {
    font-size: calc(18px + 0.3vw);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wbx-issued, .forecast-wbx-subtitle {
    font-size: calc(10px + 0.3vw);
}

.wbx-table-container {
    padding-right: 0px;
    padding-left: 0px;
}

.dark .wbx-table-container {
    padding-right: 0px;
    padding-left: 0px;
}

.wbx-table {
    font-size: calc(9px + 0.4vw);
}

.wbx-table >thead>tr>th, .wbx-table >thead>tr>td, .wbx-table >tbody>tr>th, .wbx-table >tbody>tr>td {
    vertical-align: middle;
    padding: 8px 0px 8px 0px;
    border-top: 1px solid #ddd;
}

.dark .wbx-table >thead>tr>th, .dark .wbx-table >thead>tr>td, .dark .wbx-table >tbody>tr>th, .dark .wbx-table >tbody>tr>td {
    vertical-align: middle;
    padding: 8px 0px 8px 0px;
    border-top: 1px solid #ddd;
}

.wbx-table-head-station, .wbx-table-body-station {
    text-align: left;
}

.dark .wbx-table-head-station, .dark .wbx-table-body-station {
    text-align: left;
}

.wbx-table-head-day, .wbx-table-body-day {
    text-align: center;
}

.dark .wbx-table-head-day, .dark .wbx-table-body-day {
    text-align: center;
}


/* reports */

.history-headline, .noaa-headline {
    text-align: left;
    font-size: calc(14px + 0.3vw);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dark .history-headline, .dark .noaa-headline {
    text-align: left;
    font-size: calc(14px + 0.3vw);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.history-info-icon:before {
    color: royalblue;
}

.history-table-container, .history-table-noaa-container {
    padding-right: 0px;
    padding-left: 0px;
}

.dark .history-table-container, .dark .history-table-noaa-container {
    padding-right: 0px;
    padding-left: 0px;
}

.history-table, .history-table-noaa {
    font-size: calc(9px + 0.4vw);
    margin-bottom: 0px;
}

.dark .history-table, .dark .history-table-noaa {
    font-size: calc(9px + 0.4vw);
    margin-bottom: 0px;
}

.history-table >thead>tr>th, .history-table >thead>tr>td, .history-table >tbody>tr>th, .history-table >tbody>tr>td {
    vertical-align: middle;
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ddd;
}

.dark .history-table >thead>tr>th, .dark .history-table >thead>tr>td, .dark .history-table >tbody>tr>th, .dark .history-table >tbody>tr>td {
    vertical-align: middle;
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ddd;
}

.history-table-noaa >thead>tr>th, .history-table-noaa >thead>tr>td, .history-table-noaa >tbody>tr>th, .history-table-noaa >tbody>tr>td {
    vertical-align: middle;
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ddd;
}

.dark .history-table-noaa >thead>tr>th, .dark .history-table-noaa >thead>tr>td, .dark .history-table-noaa >tbody>tr>th, .dark .history-table-noaa >tbody>tr>td {
    vertical-align: middle;
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ddd;
}

a.history-table-body-year-nav-noaa, a.history-table-body-month-nav-noaa {
    text-decoration: none !important;
}

#noaa_contents {
    width: 100%;
    margin: 0 auto;
}

/* records */

.records-table {
    font-size: calc(11px + 0.3vw);
    padding-right: 0px;
    padding-left: 0px;
}

/* extreme */

.extreme-table-container {
    padding-right: 0px;
    padding-left: 0px;
}

.dark .extreme-table-container {
    padding-right: 0px;
    padding-left: 0px;
}

.extreme-table {
    font-size: calc(10px + 0.4vw);
}

.dark .extreme-table {
    font-size: calc(10px + 0.4vw);
}

.extreme-table >thead>tr>th, .extreme-table >thead>tr>td, .extreme-table >tbody>tr>th, .extreme-table >tbody>tr>td {
    vertical-align: middle;
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ddd;
}

.dark .extreme-table >thead>tr>th, .dark .extreme-table >thead>tr>td, .dark .extreme-table >tbody>tr>th, .dark .extreme-table >tbody>tr>td {
    vertical-align: middle;
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ddd;
}

.extreme-table-head-headline {
    text-align:center;
    background:#D7D7D7;
    color:#000;
}

.dark .extreme-table-head-headline {
    text-align:center;
    background:#D7D7D7;
    color:#000;
}

.extreme-table-head-year {
    text-align: center;
    background: #3da5f4;
    color: #fff;
}

.dark .extreme-table-head-year {
    text-align: center;
    background: #3da5f4;
    color: #fff;
}

.extreme-table-head-alltime {
    text-align: center;
    background: #375a7f;
    color: #fff;
}

.dark .extreme-table-head-alltime {
    text-align: center;
    background: #375a7f;
    color: #fff;
}

.extreme-table-body-obs {
    padding-left: 10px !important;
}

.dark .extreme-table-body-obs {
    padding-left: 10px !important;
}

.extreme-table-body-obs-val-year, .extreme-table-body-obs-val-alltime {
    text-align: right;
    padding-right: 20px !important;
}

.dark .extreme-table-body-obs-val-year, .extreme-table-body-obs-val-alltime {
    text-align: right;
    padding-right: 20px !important;
}

.extreme-table-body-obs-ts-year, .extreme-table-body-obs-ts-alltime {
    font-size: calc(10px + 0.4vw);
    text-align: right;
    padding-right: 20px !important;
}

.dark .extreme-table-body-obs-ts-year, .dark .extreme-table-body-obs-ts-alltime {
    font-size: calc(10px + 0.4vw);
    text-align: right;
    padding-right: 20px !important;
}

/*
.extreme-table-body-obs-descr-year, .extreme-table-body-obs-descr-alltime {
    font-size: calc(8px + 0.4vw);
}

.dark .extreme-table-body-obs-descr-year, .dark .extreme-table-body-obs-descr-alltime {
    font-size: calc(8px + 0.4vw);
}
*/

/* sup und sub */

sup, sub {
   position: relative;
   vertical-align: baseline;
   top: -0.4em;
}
sub { top: 0.4em; }

/* forecast */

.forecast-source-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.forecast-container {
    overflow: hidden;
    margin-bottom: 15px;
}

.forecast-title {
    font-size: calc(18px + 0.3vw);
    text-align: left;
    margin-bottom: 12px;
    padding-right: 0 !important;
    float: left;
}

.forecast-headline {
    font-size: calc(18px + 0.3vw);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dark .forecast-headline {
    font-size: calc(18px + 0.3vw);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.forecast-content {
    margin-bottom: 10px;
    padding-left: 0;
}

.dark .forecast-content {
    margin-bottom: 10px;
    padding-left: 0;
}

.forecast-menu {
    display: inline-block;
    position: relative;
    height: 40px;
    padding-left: 0 !important;
    text-align: right;
    font-size: 16px;
    float: right;
}

.eq-stats-row {
    border-bottom: 1px solid #D7D7D7;
    /* margin-top: 15px; */
}

.snow-precip, .rain-precip, .humidity-forecast {
    color:#42b5e7;
}

.forecast-avg {
    font-size:20px;
    font-weight:500;
}

.dark .forecastweekend {
    color: orange;
}

.forecast-pressure, .forecast-dewpoint, .forecast-humidity, .forecast-winddirdeg{
    font-size:15px;
}

.forecast-source {
    font-size: calc(10px + 0.3vw);
    text-align: center;
}

.forecast-24hour {
    width: 144px;
}

/* stats */

.stats-label {
    font-weight: 700;
}

/* TODO */
/* current conditions source Switch */
/* current source toggle **/

.currentSourceToggle, .dark .currentSourceToggle{
    text-align:center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.currentSourceSelected {
    font-size:10px;
    text-align:center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.currentSwitchLabel {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
}

.currentSwitchLabel input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/* farmers rules */

.farmers-rules {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.farmers-rules-title {
    font-size:24px;
}

.farmers-rules-day {
    font-size: 15px;
}

.farmers-rules-rule {
    font-size: 18px;
    font-style:italic;
}

.farmers-rules-source {
    font-size: 12px;
}

/* graphs */

.wx-graph-front {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* TODO: */

@media only screen and (max-width: 800px) {
    .site-inner, .wrap {
        /* padding-top:20px; */
        padding-left: 2%;
        padding-right: 2%;
    }
    .obs-header-icon {
        width: auto;
    }
    .current_temp .outtemp_outer {
        padding-top: 15px!important;
        min-height: auto;
        font-size: 60px;
        min-height: 103px;
    }
    .currentSwitchLabel {
        margin-top: 10px;
    }
    .toprow-height, .dark.toprow-height {
        min-height: 0 !important;
    }
    .current_obs_top, .dark .current_obs_top {
        padding-right: 0px;
        padding-left: 0px;
    }
    .current_obs_top img, .dark .current_obs_top img {
        float: none;
        width: 30%;
        height: auto;
    }
    .weather-obs-top, .dark .weather-obs-top {
        min-height: 160px!important;
    }
    .obs-aqi-divider, .obs-aqi-divider, .aqi-wind-divider {
        height: 1px;
        width: 104%;
        background-color: #D7D7D7;
    }
    .aqi-row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .current_wind {
        padding: 20px 0 0 0px!important;
    }
    .windspeedtable {
        padding-top: 0px;
        width: 50%;
        float: right;
    }
    .extreme-table-body-obs {
        padding-left: 2px !important;
    }
    .dark .extreme-table-body-obs {
        padding-left: 2px !important;
    }
    .extreme-table-body-obs-val-year, .extreme-table-body-obs-val-alltime {
        text-align: right;
        padding-right: 2px !important;
    }
    .dark .extreme-table-body-obs-val-year, .extreme-table-body-obs-val-alltime {
        text-align: right;
        padding-right: 2px !important;
    }
    .extreme-table-body-obs-ts-year, .extreme-table-body-obs-ts-alltime {
        font-size: calc(9px + 0.4vw);
        text-align: right;
        padding-right: 2px !important;
    }
    .dark .extreme-table-body-obs-ts-year, .dark .extreme-table-body-obs-ts-alltime {
        font-size: calc(9px + 0.4vw);
        text-align: right;
        padding-right: 2px !important;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .24hr_forecasts .forecast-24hour {
        width: 144px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1196px) {
}

/* TODO */
/* Back to top button */
/* https://codepen.io/matthewcain/pen/ZepbeR */
#btnTOP {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btnTOP::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#btnTOP:hover {
  cursor: pointer;
  background-color: #333;
}
#btnTOP:active {
  background-color: #555;
}
#btnTOP.show {
  opacity: 1;
  visibility: visible;
}
