{
  "name": "WeeWX",
  "short_name": "WeeWX",
  "display": "standalone",
  "start_url": "https://jas.weiherhammer-wetter.de",
  "icons": 
  [{
    "src": "icon/android-chrome-192x192.png",
    "sizes": "192x192",
    "type": "image/png"
  }, 
  {
    "src": "icon/android-chrome-512x512.png",
    "sizes": "512x512",
    "type": "image/png"
    }]
}
