#errorCatcher Echo
#encoding UTF-8
#set global $page = "webcam"

    #include "header.html.tmpl"

    <div class="site-inner">
        <main class="content">	
            <article class="weewx webcam" itemscope itemtype="https://schema.org/CreativeWork">
                
                    #include "page-header.inc"

                    #include "webcam.inc"
                
            </article>
        </main>
    </div>


    #include "footer.html.tmpl"
