#errorCatcher Echo
#encoding UTF-8
#set global $page = "allsky"

    #include "header.html.tmpl"

    <div class="site-inner">
        <main class="content">	
            <article class="weewx about" itemscope itemtype="https://schema.org/CreativeWork">
                
                    #include "page-header.inc"

                    #include "allsky.inc"

            </article>
        </main>
    </div>


    #include "footer.html.tmpl"