body {
  background-color: linen;
}
h1 {
  color: navy;
  margin-left: 20px;
}
h2 {
  color: maroon;
  margin-left: 40px;
}
dd {
  font-size: x-large;
  align: center;
}
td {
  font-size: x-large;
  width: 150;
  align: center;
}
