#errorCatcher Echo
#encoding UTF-8
#set global $page = "reports"

    #include "header.html.tmpl"

    <div class="site-inner">
        <main class="content">    
            <article class="weewx reports" itemscope itemtype="https://schema.org/CreativeWork">
                #include "page-header.inc"
                #if os.path.exists("history.inc")
                #include "history.inc"
                #end if
                #if os.path.exists("noaa.inc")
                #include "noaa.inc"
                #end if
            </article>
        </main>
    </div>

    #include "footer.html.tmpl"
