#errorCatcher Echo
#encoding UTF-8
#import datetime
{
    "timestamp": #echo int( time.time() )#,
    "openmeteo_current": {
        "timestamp": $current.om_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Open-Meteo (DWD ICON)",
                "response": [{
                    "dataSource": "dwd.py",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "GMT",
                        "tzoffset": 0
                    },
                    "obTimestamp": $current.om_DateTime.raw,
                    "ob": {
                        "timestamp": $current.om_DateTime.raw,
                        "icon": "$current.om_Icon.raw",
                        "sky": $current.om_Cloudcover.raw,
                        "weather": "$current.om_Icontitle.raw",
                        "weathercode": $current.om_Weathercode.raw,
                        "weatherPrimary": "$current.om_Icontitle.raw",
                        "visibilityKM": null
                    }
                }]
            }
        ]
    },
    "dwd_poi": {
        "timestamp": $current.poi_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "DWD POI",
                "response": [{
                    "dataSource": "dwd.py",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "GMT",
                        "tzoffset": 0
                    },
                    "obTimestamp": $current.poi_DateTime.raw,
                    "ob": {
                        "timestamp": $current.poi_DateTime.raw,
                        "icon": "$current.poi_Icon.raw",
                        "sky": $current.poi_Cloudcover.raw,
                        "weather": "$current.poi_Icontitle.raw",
                        "weathercode": $current.poi_PresentWeather.raw,
                        "weatherPrimary": "$current.poi_Icontitle.raw",
                        "visibilityKM": $current.poi_Visibility.raw
                    }
                }]
            }
        ]
    }
}