#errorCatcher Echo
#encoding UTF-8
#import datetime
{
    "timestamp": #echo int( time.time() )#,
    "openmeteo_best_match": {
        "timestamp": $current.best_match_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Open-Meteo Best Match",
                "response": [{
                    "dataSource": "best_match",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.best_match_DateTime.raw,
                    "ob": {
                        "timestamp": $current.best_match_DateTime.raw,
                        "icon": "$current.best_match_Icon.raw",
                        "sky": $current.best_match_Cloudcover.raw,
                        "weather": "$current.best_match_Icontitle.raw",
                        "weathercode": $current.best_match_Weathercode.raw,
                        "weatherPrimary": "$current.best_match_Icontitle.raw",
                        "visibilityKM": "$current.best_match_Visibility.raw"
                    }
                }]
            }
        ]
    },
    "openmeteo_dwd_icon": {
        "timestamp": $current.dwd_icon_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Open-Meteo DWD ICON",
                "response": [{
                    "dataSource": "dwd-icon",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.dwd_icon_DateTime.raw,
                    "ob": {
                        "timestamp": $current.dwd_icon_DateTime.raw,
                        "icon": "$current.dwd_icon_Icon.raw",
                        "sky": $current.dwd_icon_Cloudcover.raw,
                        "weather": "$current.dwd_icon_Icontitle.raw",
                        "weathercode": $current.dwd_icon_Weathercode.raw,
                        "weatherPrimary": "$current.dwd_icon_Icontitle.raw",
                        "visibilityKM": null
                    }
                }]
            }
        ]
    },
    "openmeteo_icon_seamless": {
        "timestamp": $current.icon_seamless_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Open-Meteo DWD ICON SEAMLESS",
                "response": [{
                    "dataSource": "icon_seamless",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.icon_seamless_DateTime.raw,
                    "ob": {
                        "timestamp": $current.icon_seamless_DateTime.raw,
                        "icon": "$current.icon_seamless_Icon.raw",
                        "sky": $current.icon_seamless_Cloudcover.raw,
                        "weather": "$current.icon_seamless_Icontitle.raw",
                        "weathercode": $current.icon_seamless_Weathercode.raw,
                        "weatherPrimary": "$current.icon_seamless_Icontitle.raw",
                        "visibilityKM": null
                    }
                }]
            }
        ]
    },
    "openmeteo_icon_eu": {
        "timestamp": $current.icon_eu_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Open-Meteo ICON EU",
                "response": [{
                    "dataSource": "icon_eu",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.icon_eu_DateTime.raw,
                    "ob": {
                        "timestamp": $current.icon_eu_DateTime.raw,
                        "icon": "$current.icon_eu_Icon.raw",
                        "sky": $current.icon_eu_Cloudcover.raw,
                        "weather": "$current.icon_eu_Icontitle.raw",
                        "weathercode": $current.icon_eu_Weathercode.raw,
                        "weatherPrimary": "$current.icon_eu_Icontitle.raw",
                        "visibilityKM": null
                    }
                }]
            }
        ]
    },
    "openmeteo_icon_d2": {
        "timestamp": $current.icon_d2_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Open-Meteo ICON D2",
                "response": [{
                    "dataSource": "icon_d2",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.icon_d2_DateTime.raw,
                    "ob": {
                        "timestamp": $current.icon_d2_DateTime.raw,
                        "icon": "$current.icon_d2_Icon.raw",
                        "sky": $current.icon_d2_Cloudcover.raw,
                        "weather": "$current.icon_d2_Icontitle.raw",
                        "weathercode": $current.icon_d2_Weathercode.raw,
                        "weatherPrimary": "$current.icon_d2_Icontitle.raw",
                        "visibilityKM": null
                    }
                }]
            }
        ]
    },
    "dwd_poi": {
        "timestamp": $current.poi_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "DWD POI",
                "response": [{
                    "dataSource": "DWD POI",
                    "loc": {
                        "latitude": $station.stn_info.latitude_f,
                        "longitude": $station.stn_info.longitude_f,
                        "altitude": "$station.altitude"
                    },
                    "place": {
                        "name": "$station.location",
                        "city": "Weiherhammer",
                        "state": "by",
                        "country": "de"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.poi_DateTime.raw,
                    "ob": {
                        "timestamp": $current.poi_DateTime.raw,
                        "icon": "$current.poi_Icon.raw",
                        #if $current.poi_Cloudcover.has_data
                        "sky": $current.poi_Cloudcover.raw,
                        #else
                        "sky": null,
                        #end if
                        "weather": "$current.poi_Icontitle.raw",
                        #if $current.poi_PresentWeather.has_data
                        "weathercode": $current.poi_PresentWeather.raw,
                        #else
                        "weathercode": null,
                        #end if
                        "weatherPrimary": "$current.poi_Icontitle.raw",
                        "visibilityKM": $current.poi_Visibility.raw
                    }
                }]
            }
        ]
    },
    "brightsky": {
        "timestamp": $current.brightsky_DateTime.raw,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Brightsky DWD Synop",
                "response": [{
                    "dataSource": "synop",
                    "loc": {
                        "latitude": $current.brightsky_Latitude.raw,
                        "longitude": $current.brightsky_Longitude.raw,
                        "altitude": "$current.brightsky_Altitude"
                    },
                    "place": {
                        "name": "DWD Station $current.brightsky_StationName.raw",
                        "city": "$current.brightsky_StationName.raw",
                        "id": $current.brightsky_APIstationId.raw,
                        "wmo_id": $current.brightsky_WMOstationId.raw,
                        "dwd_id": "$current.brightsky_DWDstationId.raw"
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.brightsky_DateTime.raw,
                    "ob": {
                        "timestamp": $current.brightsky_DateTime.raw,
                        "icon": "$current.brightsky_Icon.raw",
                        "sky": $current.brightsky_Cloudcover.raw,
                        "weather": "$current.brightsky_Icontitle.raw",
                        "weathercode": $current.brightsky_Weathercode.raw,
                        "weatherPrimary": "$current.brightsky_Icontitle.raw",
                        "visibilityKM": $current.brightsky_Visibility.raw
                    }
                }]
            }
        ]
    },
    "cloudwatcher": {
        "timestamp": #echo int( time.time() )#,
        "current": [
            {
                "success": true,
                "error": null,
                "source": "Cloudwatcher MLX90614 Sensor",
                "response": [{
                    "dataSource": "mlx90614",
                    "loc": {
                        "latitude": $current.cloudwatcher_Latitude.raw,
                        "longitude": $current.cloudwatcher_Longitude.raw,
                        "altitude": "$current.cloudwatcher_Altitude"
                    },
                    "place": {
                        "name": "Cloudwatcher MLX90614 Sensor der PWS Weiherhammer",
                        "city": "Weiherhammer",
                        "id": 4
                    },
                    "profile": {
                        "tz": "Europe/Berlin",
                        "tzname": "CET",
                        "tzoffset": 3600
                    },
                    "obTimestamp": $current.cloudwatcher_dateTime.raw,
                    "ob": {
                        "timestamp": $current.cloudwatcher_dateTime.raw,
                        "icon": "$current.cloudwatcher_Icon.raw",
                        "sky": $current.cloudwatcher_cloudpercent.raw,
                        "weather": "$current.cloudwatcher_Icontitle.raw",
                        "weathercode": $current.cloudwatcher_weathercode.raw,
                        "weatherPrimary": "$current.cloudwatcher_Icontitle.raw",
                        "visibilityKM": $current.best_match_Visibility.raw
                    }
                }]
            }
        ]
    }
}