#errorCatcher Echo
{
    "outTemp": $current.outTemp.raw,
    "dewpoint": $current.dewpoint.raw,
    "skyambient": $current.outTemp.raw,
    "skyobject": $current.cloudcover_skyTemp.raw,
    "cloudPercent": $current.weewx_cloud_percent.raw,
    "cloudIcon": $current.weewx_cloud_icon.raw
}