{
    "manifest_version" : 2,
    "version" : "0.2c",
    "name" : "$Extras.logo_title",
    "id" : "$Extras.station_url",
    "description" : "Weather Console App",
    "short_name" : "$Extras.logo_title",
    "display" : "standalone",
    "start_url" : "$Extras.station_url"
}
