#errorCatcher Echo
#encoding UTF-8

DWD OM/POI Daten

"current.om_DateTime.raw"        = "$current.om_DateTime.raw"
"current.om_Weathercode.raw"     = "$current.om_Weathercode.raw"
"current.om_Icon.raw"            = "$current.om_Icon.raw"
"current.om_Icontitle.raw"       = "$current.om_Icontitle.raw"

"current.poi_DateTime.raw"       = "$current.poi_DateTime.raw"
"current.poi_PresentWeather.raw" = "$current.poi_PresentWeather.raw"
"current.poi_Icon.raw"           = "$current.poi_Icon.raw"
"current.poi_Icontitle.raw"      = "$current.poi_Icontitle.raw"
