#errorCatcher Echo
#encoding UTF-8
#set $observations = $to_list(['outTemp', 'dewpoint', 'heatindex', 'windchill', 'barometer', 'outHumidity', 'outHumAbs', 'windSpeed', 'windGust', 'windDir', 'rainRate', 'inTemp', 'inHumidity'])
#set $timespans = $to_list(['current', 'day', 'week', 'month', 'year'])
#set $lobs = $len($observations)
#set $lts = $len($timespans)
#set $lobsii = 0
#set $ltsii = 0
#if $almanac.hasExtras
  ## Pick a "None string" on the basis of whether the sun is above or below the horizon
  #set $sun_altitude = $almanac.sun.alt
  #if $sun_altitude < 0
    #set $sun_None='<i>%s</i>' % $gettext("Always down")
  #else
    #set $sun_None='<i>%s</i>' % $gettext("Always up")
  #end if

  ## For the change in daylight, pick a string to indicate whether it is more or
  ## less than yesterday:
  #set $sun_visible_change = $almanac.sun.visible_change
  #if $sun_visible_change.raw < 0
    #set $change_str = $gettext("less than yesterday")
  #else
    #set $change_str = $gettext("more than yesterday")
  #end if
#end if
{
    "station": {
        "location": "$station.location",
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitude (meters)": $station.altitude.meter.raw,
        "link": "$station.station_url",
        "hardware": "$station.hardware",
        "serveruptime": "$station.os_uptime",
        "weewxuptime": "$station.uptime"
    },
    "generation": {
        "time": "$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")",
        "generator": "weewx $station.version"
    },
    "test": {
        "day.sunshineDur.sum.raw": "$day.sunshineDur.sum.raw",
        "day.sunshineDur.sum.format": "$day.sunshineDur.sum.format('%(hour)d%(hour_label)s, %(minute)d%(minute_label)s, %(second)d%(second_label)s')",
        "current.sunshine": "$current.sunshine",
        "current.sunshine.raw": "$current.sunshine.raw",
        "formattedSunshine": "$current.sunshine.formatted",
        "current.outHumAbs.gram_per_meter_cubed": "$current.outHumAbs.gram_per_meter_cubed",
        "last_rain": "$last_rain",
        "time_since_last_rain": "$time_since_last_rain",
        "day.GTSdate.last.format" : $day.GTSdate.last.format("%d.%m.%Y"),
        "trend.outTemp": "$trend.outTemp",
        "trend.barometer": "$trend.barometer",
        "trend.barometer.raw": "$trend.barometer.raw",
        "trend.barometer.formatted": "$trend.barometer.formatted",
        "trend_asky_box_temperature": "$trend.asky_box_temperature",
        "trend.asky_box_barometer": "$trend.asky_box_barometer",
        "trend_solar_temperature": "$trend.solar_temperature",
        "trend.solar_barometer": "$trend.solar_barometer",
        "wh65_batt": "$current.wh65_batt",
        "current.wh65_batt.raw": "$current.wh65_batt.raw",
        "current.wh65_batt.formatted": "$current.wh65_batt.formatted",
        "$gettext('Total daylight')": "$almanac.sun.visible",
        "$sun_visible_change": "$change_str"
    },
    #for $ts in $timespans
    #set $ltsii += 1
    #set $lobsii = 0
    "$ts":{
        #for $x in $observations
        #if $getVar('%s.%s.has_data' % ($ts,$x))
        #set $lobsii += 1
        "$x": {
            #if $ts == 'current'
            "value": "$getVar($ts + '.' + $x + '.formatted')",
            "unit": "$getVar($ts + '.' + $x).format(" ").lstrip()",
            #else
            "min": "$getVar($ts + '.' + $x + '.min.formatted')",
            "min_ts": "$getVar($ts + '.' + $x + '.mintime')",
            "max": "$getVar($ts + '.' + $x + '.max.formatted')",
            "max_ts": "$getVar($ts + '.' + $x + '.maxtime')",
            "avg": "$getVar($ts + '.' + $x + '.avg.formatted')",
            "unit": "$getVar($ts + '.' + $x + '.min').format(" ").lstrip()",
            #end if
        #if $lobsii < $lobs
        },
        #else
        }
        #end if
        #end if
        #end for
    #if $ltsii < $lts
    },
    #else
    }
    #end if
    #end for
}