#encoding UTF-8
        </div><!-- close div tag from header.html.tmpl -->

        <footer class="site-footer">
            <div class="wrap">
                <div class="row">
                    <div class="col-sm-4 footerLeft">
                        &copy; $current.dateTime.format("%Y") $obs.label.footer_copyright_text
                    </div>
                    <div class="col-sm-5 footerCenter">
                        <a href="$relative_url/privacy/">$obs.label.privacy_link</a>
                    </div>
                    <div class="col-sm-3 footerRight">
                        original skin <a href="https://obrienlabs.net" target="_blank">Pat O'Brien</a> &sdot; <a href="https://github.com/poblabs/weewx-belchertown" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </footer>
        
        <script type='text/javascript' src='$relative_url/js/responsive-menu.js'></script>
        <script type='text/javascript' src='$relative_url/js/tooltip.js'></script>
        
        <!-- Belchertown skin fork - Weiherhammer skin version: $weiherhammer_version -->
        <!-- Page Generated: $current.dateTime -->

    </body>
</html>
